<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Rodadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card *ngFor="let ride of rides | async" color="light">
    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>{{ride.start}}</ion-card-subtitle>
      <ion-card-title>{{ride.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
